.carousel-inner .active.left {
    left: -33%;
}

.carousel-inner .next {
    left: 33%;
}

.carousel-inner .prev {
    left: -33%;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.item:not(.prev) {
    visibility: visible;
}

.item.right:not(.prev) {
    visibility: hidden;
}

.rightest {
    visibility: visible;
}

.center {
    text-align: center;
    font-size: 200%;
}

.group1 {
    color: green
}

.group2 {
    color: blue
}

.group3 {
    color: #8a6d3b
}

.group4 {
    color: #a94442
}

.product {
    background-size: 250px 300px;
    background-repeat: no-repeat;
    width: 250px;
    height: 300px;
}

.product-price {
    text-align: center;
    font-size: 300%;
    color: #9419dc
}

.product-name {
    text-align: center;
    font-size: 200%;
    color: #9419dc;
    font-style: italic;
    padding-top: 100px
}