<div class="container" class="col-md-12">
    <div style="width:300px; margin-left:0px" class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Panel management product</div>
            <div class="panel panel-success" style="height:20px">
                <div class="panel-heading"><a ng-href="">Category</a></div>
            </div>
            <div class="panel panel-info" style="height:20px">
                <div class="panel-heading"><a ng-href="">Category</a></div>
            </div>
            <div class="panel panel-success" style="height:20px">
                <div class="panel-heading"><a ng-href="">Category</a></div>
            </div>
            <div class="panel panel-info" style="height:20px">
                <div class="panel-heading"><a ng-href="">Category</a></div>
            </div>
            <div class="panel panel-success" style="height:20px">
                <div class="panel-heading"><a ng-href="">Category</a></div>
            </div>
            <div class="panel panel-info" style="height:20px">
                <div class="panel-heading"><a ng-href="">Category</a></div>
            </div>
            <div class="panel panel-success" style="height:20px">
                <div class="panel-heading"><a ng-href="">Category</a></div>
            </div>
            <div class="panel panel-info" style="height:20px">
                <div class="panel-heading"><a ng-href="">Category</a></div>
            </div>
        </div>
    </div>
    <div class="col-md-8" style="background-color:#e3e5e8;height:365px"></div>
</div>
<ul class="pagination pagination-lg" style="margin-left:500px">
    <li><a ng-href="">Previous</a></li>
    <li><a ng-href="">1</a></li>
    <li><a ng-href="">2</a></li>
    <li><a ng-href="">3</a></li>
    <li><a ng-href="">4</a></li>
    <li><a ng-href="">5</a></li>
    <li><a ng-href="">Next</a></li>
</ul>